apiVersion: v1
kind: Pod
targetObj:
  name: soba-order-controller
spec:
  containers:
  - name: kubectl-proxy
    image: demoreg.azurecr.io/kazusato/kubectl-proxy:${PROXY_TAG}
  - name: soba-order-controller
    image: demoreg.azurecr.io/kazusato/soba-order-controller:${CONTROLLER_TAG}
      envFrom:
      - prefix: TWILIO_
        configMapRef:
          name: twilio-config
  imagePullSecrets:
  - name: demoreg-reader3-secret

